# Данные инстанса Green API (WhatsApp). Получить в личном кабинете green-api.com
VITE_WA_ID_INSTANCE=ВАШ_ID_INSTANCE
VITE_WA_API_TOKEN=ВАШ_API_TOKEN

# Токен Telegram-бота (получить у @BotFather)
VITE_TG_BOT_TOKEN=ВАШ_ТОКЕН_БОТА
